@font-face {                  
font-family: 'Barecast-Thin';
src: url(https://humantooth.neocities.org/fonts/Barecast-Regular.woff2) format('woff2');
font-weight: normal;
font-style: normal;
} 

body {
    background-color:#fffdb9;
}

.layout{
    display:flex;
    padding-top: 10px;
    justify-content:center;
    align-items:flex-start;
}

.container-outer{
    width:900px;
    border-width:7px;
    border-style:solid;
    border-image:url("https://i.imgur.com/2jXrMdE.png") 11 fill round;
}

.container-inner{
    background-image:url(https://whilewesip.neocities.org/graphics/background.JPG);
    border:1px dashed;
    border-color: #d16b83;
    padding:10px;
}

.container{
    background:white;
    border:1.5px solid;
    border-radius:3px;
    border-color: #d16b83;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-bottom: 1.5px dotted;
    border-color: #d16b83;
    padding: 5px;
    background: linear-gradient(to bottom, #facfe6, #fffdb9);
}

#intro{
    font-family: 'Barecast-Thin', sans-serif;
    font-size: 12px;
    color: #54202c;
    text-align: center;
    margin: 0;
}

.content{
    display:flex;
    gap:15px;
    padding:15px;
}

.sidebar{
    width:220px;
    height: 20px;
    background: linear-gradient(to bottom, #ffffff 55%, #facfe6);
    padding:5px;
}

#sidebar{
    font-family: 'Barecast-Thin';
    font-size: 15px;
    color: #54202c;
    text-align: left;
    margin: 0;
}

.main{
    flex:1;
    border:1px dashed;
     border-color: #d16b83;
    background: linear-gradient(to bottom, #facfe6, #fffdb9);
    padding:15px;
}